<<<<<<< HEAD
﻿<h1>Crear un repositorio normal para que trabajemos ahí y ponelo  privado y dame el mismo rango que vos tenés por si las moscas, gracias</h1>
=======
﻿<h1>kiko se la traga</h1>
<h2>ENTERAAAAA</h2>
>>>>>>> af2a97a131721a4250c42a598e216cb3d5b6036a
